<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header">
</head>
<body>
<!--<div th:replace="fragments/preloader ::preloader">-->
<!--</div>-->
<div class="page-container">
    <div th:replace="fragments/sidebar :: sidebar-menu"></div>
    <div class="main-content">

        <div th:replace="fragments/header_area ::header-area">
        </div>
        <div th:replace="fragments/title_area ::title-area">
        </div>
        <div class="main-content-inner">

            <div class="row justify-content-center">
                <!--                <div class="col-lg-6 col-ml-12">-->
                <!--                    <div class="row">-->
                <!-- Textual inputs start -->
                <div class="col-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Add Loan Credit Configs</h4>
                            <form  method="post" th:action="@{/configs/create/credit}"  class="form-horizontal form-label-left" novalidate>


                                </p>
                                <center> <h4 style="color: red" th:text="${message}"></h4></center>
                                <span class="section"><h3><center>Create Loan Credit Configs</center></h3></span>

                                <div class="form-group">
                                    <label for="bankName" class="col-form-label">Bank Name</label>
                                    <input class="form-control" type="text" placeholder="Bank Name" id="bankName"
                                           name="bankName" field="">
                                </div>

                                <div class="form-group">
                                    <label for="branchName" class="col-form-label">Branch Name</label>
                                    <input class="form-control" type="text" placeholder="Branch Name" id="branchName"
                                           name="branchName" field="">
                                </div>

                                <div class="form-group">
                                    <label for="accountNumber" class="col-form-label">Branch Name</label>
                                    <input class="form-control" type="text" placeholder="Account Number" id="accountNumber"
                                           name="accountNumber" field="">
                                </div>

                                <div class="form-group">
                                    <label  class="col-form-label">Status</label>

                                    <select  class="form-control" field="" >
                                        <option value="Active">Active</option>
                                        <option value="Inctave">Inactive</option>

                                    </select>
                                </div>




                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">

                                        <button id="send" type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!--                    </div>-->
                <!--                </div>-->
            </div>

        </div>

    </div>
    <!-- main content area end -->
    <div th:replace="fragments/footer ::footer">
    </div>
    <div th:replace="fragments/scripts ::scripts">
    </div>
</div>
</body>
</html>