<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header">
</head>
<body>
<!--<div th:replace="fragments/preloader ::preloader">-->
<!--</div>-->
<div class="page-container">
    <div th:replace="fragments/sidebar :: sidebar-menu"></div>
    <div class="main-content">

        <div th:replace="fragments/header_area ::header-area">
        </div>
        <div th:replace="fragments/title_area ::title-area">
        </div>
        <div class="main-content-inner">
            <div class="row">

                <!-- Primary table start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Data Table Primary</h4>
                            <div class="data-tables datatable-primary">

                                <table id="dataTable2" class="text-left" style="width: 100% !important;">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Interest Rate</th>
                                        <th>Penalty Rate</th>
                                        <th>Default Interest</th>
                                        <th>Status</th>
                                        <th>Created Date</th>
                                        <th>Updated Date</th>
                                        <th class="d-flex justify-content-center"> Action</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="interestConfig:${interestConfigs}">
                                        <td th:text="${interestConfig.id}"></td>
                                        <td th:text="${interestConfig.interestRate}"></td>
                                        <td th:text="${interestConfig.penaltyRate}"></td>
                                        <td th:text="${interestConfig.defaultInterest}"></td>
                                        <td th:text="${interestConfig.status}"></td>
                                        <td th:text="${interestConfig.dateCreated}"></td>
                                        <td th:text="${interestConfig.lastUpdated}"></td>
                                        <td>
                                            <ul class="d-flex justify-content-center">
<!--                                                <li class="mr-3"><a href="" class="text-secondary"><i class="fa fa-eye"></i></a></li>-->
                                                <li class="mr-3"><a  data-toggle="modal" data-target="#editInterestConfigModal"class="text-secondary"><i class="fa fa-edit"></i></a></li>
<!--                                                <li><a href="#" class="text-danger"><i class="ti-trash"></i></a></li>-->
                                            </ul>
                                            <!--                                                <a th:href="@{/roles/edit(id=${role.name})}"class="btn btn-dark">Edit</a>-->
                                        </td>


                                        <!-- Edit modal toggle start-->
                                        <div class="modal fade" id="editInterestConfigModal" tabindex="-1"
                                             role="dialog" aria-labelledby="editInterestConfigModalLabel" aria-hidden="true">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-6 col-ml-12">
                                                    <div class="row">
                                                        <!-- Textual inputs start -->
                                                        <div class="col-6 mt-5">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <h4 class="header-title">Edit Interest Config</h4>
                                                                    <form method="post"  th:action="@{/configs/edit/interest/{id} (id=${interestConfig.id})}">
                                                                        <div class="form-group">
                                                                            <label for="updateInterestRate" class="col-form-label">Interest Rate:</label>
                                                                            <input class="form-control" type="text" placeholder="Interest Rate" id="updateInterestRate"
                                                                                   name="interestRate" th:value="${interestConfig.interestRate}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="penaltyRate" class="col-form-label">Penalty Rate</label>
                                                                            <input class="form-control" type="text" placeholder="Penalty Rate" id="penaltyRate"
                                                                                   name="penaltyRate" th:value="${interestConfig.penaltyRate}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="defaultInterest" class="col-form-label">Default Interest</label>
                                                                            <input class="form-control" type="text" placeholder="Default Interest" id="defaultInterest"
                                                                                   name="defaultInterest" th:value="${interestConfig.defaultInterest}">
                                                                        </div>

                                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                                        <button type="button"  class="btn btn-secondary" data-mdb-dismiss="modal">Close
                                                                        </button>
                                                                    </form>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--                    </div>-->
                                                        <!--                </div>-->
                                                    </div>

                                                    <!-- end here-->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Toggle edit end -->




                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Primary table end -->

            </div>
        </div>

    </div>
    <!-- main content area end -->
    <div th:replace="fragments/footer ::footer">
    </div>
    <div th:replace="fragments/scripts ::scripts">
    </div>
</div>
</body>
</html>