<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header">
</head>
<body>
<!--<div th:replace="fragments/preloader ::preloader">-->
<!--</div>-->
<div class="page-container">
    <div th:replace="fragments/sidebar :: sidebar-menu"></div>
    <div class="main-content">

        <div th:replace="fragments/header_area ::header-area">
        </div>
        <div th:replace="fragments/title_area ::title-area">
        </div>
        <div class="main-content-inner">

            /////////

            ////////
        </div>

    </div>
    <!-- main content area end -->
    <div th:replace="fragments/footer ::footer">
    </div>
    <div th:replace="fragments/scripts ::scripts">
    </div>
</div>
</body>