<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header">
</head>
<body>
<!--<div th:replace="fragments/preloader ::preloader">-->
<!--</div>-->
<div class="page-container">
    <div th:replace="fragments/sidebar :: sidebar-menu"></div>
    <div class="main-content">

        <div th:replace="fragments/header_area ::header-area">
        </div>
        <div th:replace="fragments/title_area ::title-area">
        </div>







            <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <!-- preloader area start -->

            <!-- main wrapper start -->
            <div class="horizontal-main-wrapper">
                <!-- main header area start -->

                <!-- main header area end -->
                <!-- header area start -->

                <!-- header area end -->
                <!-- page title area end -->
                <div class="main-content-inner">
                    <div class="container">

                        <div class="row" >
                            <!-- seo fact area start -->
                            <!--                <div class="col-lg-8">-->
                            <!--                    <div class="row">-->
                            <div class="col-md-4 mt-3 mb-2" >
                                <div class="card">
                                    <div class="seo-fact sbg1" style="height:185px !important;">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon">Total Applications</div>
                                            <h2 th:text="${totalApplications}"></h2>
                                        </div>
                                        <canvas id="seolinechart1" height="50"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-md-3 mb-2">
                                <div class="card">
                                    <div class="seo-fact sbg2" style="height:185px !important;">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon">Total Agents</div>
                                            <h2 th:text="${totalAgents}"></h2>
                                        </div>
                                        <canvas id="seolinechart2" height="50"></canvas>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 mt-md-3 mb-2">
                                <div class="card">
                                    <div class="seo-fact sbg2" style="height:185px !important;">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon">Total Products</div>
                                            <h2 th:text="${totalProducts}"></h2>
                                        </div>
                                        <canvas id="seolinechart4" height="50"></canvas>
                                    </div>
                                </div>
                            </div>




                            <!--                    </div>-->
                            <!--                </div>-->
                        </div>
                        <div class="row">



                            <!-- seo fact area start -->

                            <!-- seo fact area end -->
                            <!-- Social Campain area start -->

                            <!-- Social Campain area end -->
                            <!-- Statistics area start -->
                            <div class="col-lg-12 mt-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">User Statistics</h4>
                                        <div id="user-statistics"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Statistics area end -->

                            <!-- sales area start -->
                            <div class="col-xl-12 col-lg-12 mt-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Sales</h4>
                                        <div id="salesanalytic"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- sales area end -->



                    </div>
                </div>
                <!-- main content area end -->
                <!-- footer area start-->

                <!-- footer area end-->
            </div>
            <!-- main wrapper start -->
            <!-- offset area start -->

            <!-- offset area end -->
            <!-- jquery latest version -->
            <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
            <!-- bootstrap 4 js -->
            <script src="assets/js/popper.min.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/owl.carousel.min.js"></script>
            <script src="assets/js/metisMenu.min.js"></script>
            <script src="assets/js/jquery.slimscroll.min.js"></script>
            <script src="assets/js/jquery.slicknav.min.js"></script>

            <!-- start chart js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
            <!-- start highcharts js -->
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <!-- start amcharts -->
            <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
            <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
            <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
            <script src="https://www.amcharts.com/lib/3/serial.js"></script>
            <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
            <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
            <!-- all line chart activation -->
            <script src="assets/js/line-chart.js"></script>
            <!-- all pie chart -->
            <script src="assets/js/pie-chart.js"></script>
            <!-- all bar chart -->
            <script src="assets/js/bar-chart.js"></script>
            <!-- all map chart -->
            <script src="assets/js/maps.js"></script>
            <!-- others plugins -->
            <script src="assets/js/plugins.js"></script>
            <script src="assets/js/scripts.js"></script>


            </div>
            <!-- sales area end -->





    <!-- main content area end -->
    <div th:replace="fragments/footer ::footer">
</div>
    <div th:replace="fragments/scripts ::scripts">
    </div>

        </div>
    </div>
</div>
</body>

</html>