<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- page title area start -->
<div class="page-title-area" th:fragment="title-area">
    <div style="margin-right: 2%;" class="row align-items-center">
        <div class="col-sm-6">

        </div>
        <div   class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img class="avatar user-thumb" th:src="@{/images/author/avatar.png}" alt="avatar">
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown"><span th:text="${name}"></span> <i class="fa fa-angle-down"></i></h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Message</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" th:href="@{/login}">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page title area end -->
</body>
</html>