<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

</head>
<body>


<!--<div th:replace="fragments/preloader ::preloader">-->
<!--</div>-->
<div style="margin-left: 0px !important;" class="page-container">


    <center><img style=" height: auto;" src="/images/icon/micro.png"></center>

    <a onClick="window.print()"><img style="float: right; width: 30px; height: auto; margin-right: 100px;"
                                     src="/images/icon/print.png"></a>
    <a style="color:white;">...</a>
    <a onClick="window.print()"><img style="float: right; width: 30px; height: auto;"
                                     src="/images/icon/download.png"></a>

    <br/> <br/> <br/>

    <u>
        <b> <center><h3>LOAN APPLICATION FORM - (SSM NOSTRO LOANS) - Code NSSB</h3></center></b>
    </u>


    <table style="width: 100%">


        <tr>
            <td style="width: 100%; "><h4 ><center>PLEASE READ CAREFULLY AND COMPLETE ONLY RELEVANT SECTIONS</center></h4></td>
        </tr>

    </table>

<table  style="width: 100%;">

        <tr>
            <td style="width: 33%"><b>TO: MANAGER</b></td>
            <td style="width: 33%"><b>MICROFINANCE</b></td>
            <td style="width: 33%"><b>BRANCH</b></td>
        </tr>

</table>


    <table style="width: 100%;"> <tr >
            <td style="width: 25%">EMPLOYEE CODE NUMBER:</td>
            <td style="width: 25%"></td>
            <td style="width: 25%">DATE:</td>
            <td style="width: 25%"></td>
      </tr>

    </table>

    <table style="width: 100%;">  <tr>
            <td style="width: 20%;">Loan Proceeds to be credited to nominated FCA account<br/> Account Number:</td>
            <td style="width: 20%;"></td>
            <td style="width: 20%;">Bank Account Number</td>
            <td style="width: 20%;"></td>
            <td style="width: 10%";>Branch</td>
            <td style="width: 10%";></td>

      </tr>
    </table>

    <table style="width: 100%;">  <tr>
        <td style="width: 25%;">FULL MAIDEN NAME <br/> <i>(for married Woman)</i></td>
        <td style="width: 25%;"></td>
        <td style="width: 25%;">Full NAME OF SPOUSE <br/> <i>(for married Applicants)</i></td>
        <td style="width: 25%;"></td>


    </tr>
    </table>




    <style>

        table, th, td {
            border:1px solid black;

        }
    </style>


</div>
</body>
</html>