<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

</head>

<style>

    table, th, td {
        border: 1px solid black;

    }

    @page {
        size: auto;   /* auto is the initial value */
        margin: 30px;  /* this affects the margin in the printer settings */
    }

</style>
<body style="margin-left: 5px !important; margin-right: 5px !important;">


<!--<div th:replace="fragments/preloader ::preloader">-->
<!--</div>-->
<div style="margin-left: 0px !important; font-size: 14px !important;" class="page-container">

    <center><label><b><span  th:text="${'Applicant Name: '+SSBApplication.getApplicationTitle()}"></span></b></label></center>
    <center><img style=" height: auto;" src="/images/icon/microplan.png"></center>
   <label><b><span th:text="${'Agent Name: '+agentName}"></span></b></label>
    <a onClick="window.print()"><img style=" float: right !important; width: 30px; height: auto; margin-right: 30px; "
                                     src="/images/icon/print.png"></a>


    <table style="width: 100%;">
        <b>
            <tr>
                <td style="width: 33%"><b>TO: MANAGER</b></td>
                <td style="width: 33%"><b>MICROFINANCE</b></td>
                <td style="width: 33%"><b>BRANCH</b></td>
            </tr>
        </b>

    </table>


    <table style="width: 100%;">
        <tr>
            <td style="width: 25%"><b>EMPLOYEE CODE NUMBER:</b></td>
            <td style="width: 25%; color: blue;" th:text="${SSBApplication.getEmployeeNumber()}"></td>
            <td style="width: 25%"><b>DATE:</b></td>
            <td style="width: 25% ;color: blue; " th:text="${SSBApplication.getDateAndTime()}"></td>
        </tr>

    </table>


    <table style="width: 100%;">
        <tr>
            <td style="width: 20%"><b>LOAN PURPOSE:</b></td>
            <td style="width: 80%; color: blue;" th:text="${SSBApplication.getLoanPurpose()}"></td>


        </tr>

    </table>
    <table style="width: 100%;">
        <tr>
            <td style="width: 30%;"><b>Loan Proceeds to be credited to nominated FCA account<br/> Account Name: <span
                    style=" color: blue">BIGTILL</span></b>
            </td>

            <td style="width: 10%;"><b>Bank Name</b></td>
            <td style="width: 20%; color: blue" th:text="${SSBApplication.getCreditBankName()}"></td>
            <td style="width: 10%;"><b>Bank Account Number</b></td>
            <td style="width: 10%; color: blue" th:text="${SSBApplication.getCreditAccountNumber()}"></td>
            <td style="width: 10%" ;><b>Branch</b></td>
            <td style="width: 10%;color: blue" ; th:text="${SSBApplication.getCreditBranchName()}"></td>

        </tr>
    </table>

    <table style="width: 100%;">
        <tr>
            <td style="width: 30%;"><b>Loan Proceeds to be credited to nominated FBC Bank<br/> Branch </b>
            </td>
            <td style="width: 10%" ;><b>Branch</b></td>
            <td style="width: 70%;color: blue" ;></td>

        </tr>
    </table>

    <table style="width: 100%;">
        <tr>
            <td style="width: 10%;"><b>FIRST NAME</b></td>
            <td style="width: 20%; color: blue;" th:text="${SSBApplication.getFirstName()}"></td>
            <td style="width: 15%;"><b>MIDDLE NAME<i>(if any)</i></b></td>
            <td style="width: 20%; color: blue;" th:text="${SSBApplication.getMaidenName()}"></td>
            <td style="width: 10%;"><b>SURNAME</b></td>
            <td style="width: 20%; color: blue;" th:text="${SSBApplication.getLastName()}"></td>
            <td style="width: 5%;" th:text="${SSBApplication.getTitle()}"></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;"><b>FULL MAIDEN NAME <i>(for married Woman)</i></b></td>
            <td style="width: 25%; color: blue;" th:text="${SSBApplication.getMaidenName()}"></td>
            <td style="width: 25%;"><b>Full NAME OF SPOUSE <i>(for married Applicants)</i></b></td>
            <td style="width: 25%; color: blue;" th:text="${SSBApplication.getMaidenName()}"></td>


        </tr>
    </table>

    <table style="width: 100%;">
        <tr>
            <td style="width: 15%;"><b>DATE OF BIRTH</b></td>
            <td style="width: 15%; color: blue;" th:text="${SSBApplication.getDateOfBirth()}"></td>
            <td style="width: 15%;"><b>NATIONAL ID</b></td>
            <td style="width: 15%; color: blue;" th:text="${SSBApplication.getNationalId()}"></td>
            <td style="width: 15%;"><b>PASSPORT NUMBER</b></td>
            <td style="width: 25%; color: blue;" th:text="${SSBApplication.getPassportNumber()}"></td>

        </tr>

    </table>


    <table style="width: 100%;">
        <tr>
            <td style="width: 40%;"><b>RESIDENTIAL ADDRESS</b></td>
            <td style="width: 60%; color: blue;" th:text="${SSBApplication.getResidentialAddress()}"></td>


        </tr>

    </table>
    <table style="width: 100%;">
        <tr>
            <td style="width: 30%;"><b>NAME OF EMPLOYER</b></td>
            <td style="width: 70%; color: blue;" th:text="${SSBApplication.getNameOfEmployer()}"></td>

        </tr>

    </table>
    <table style="width: 100%;">
        <tr>
            <td style="width: 20%;"><b>TELEPHONE NUMBERS</b></td>
            <td style="width: 10%; "><b>CELL</b></td>
            <td style="width: 10%; color: blue;" th:text="${SSBApplication.getMobileNumber()}"></td>
            <td style="width: 10%;"><b>HOME</b></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%;"><b>BUSINESS</b></td>
            <td style="width: 10%;"></td>
            <td style="width: 10%;"><b>FAX</b></td>
            <td style="width: 10%;"></td>
        </tr>

    </table>

    <table style="width: 100%;">
        <tr>
            <td style="width: 30%;"><b>PHYSICAL ADDRESS OF EMPLOYER </b></td>
            <td style="width: 70%; color: blue;" th:text="${SSBApplication.getResidentialAddress()}"></td>

        </tr>
    </table>
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;"><b>SINCE WHEN EMPLOYED</b></td>
            <td style="width: 25%; color: blue;" th:text="${SSBApplication.getDateJoined()}"></td>
            <td style="width: 25%;"><b>EMAIL ADDRESS</b></td>
            <td style="width: 25%; color: blue;" th:text="${SSBApplication.getEmployersEmail()}"></td>

        </tr>

    </table>

    </table>
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;"><b>PROFFESSION <i>eg (mining, health etc)</i></b></td>
            <td style="width: 25%; color: blue;" th:text="${SSBApplication.getProfession()}"></td>
            <td style="width: 25%;"><b>POSITION HELD eg (doctor, engineer etc)</b></td>
            <td style="width: 25%; color: blue;" th:text="${SSBApplication.getPositionHeld()}"></td>

        </tr>

    </table>

    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;"><b>GROSS MONTHLY SALARY/ INCOME</b></td>
            <td style="width: 25%; color: blue;" th:text="${SSBApplication.getGrossSalary()}"></td>
            <td style="width: 25%;"><b>NET MONTLY SALARY/ INCOME</b></td>
            <td style="width: 25%; color: blue;" th:text="${SSBApplication.getNetSalary()}"></td>

        </tr>
    </table>

    <table style="width: 100%;">
        <tr>
            <td style="width: 15%;"><b>NAME OF SPOUSES <i>employer</i></b></td>
            <td style="width: 20%; color: blue;" th:text="${SSBApplication.getMaidenName()}"></td>
            <td style="width: 15%;"><b>ADDRESS OF SPOUSE </b></td>
            <td style="width: 20%; color: blue;"></td>
            <td style="width: 20%;"><b>SPOUSE NET SALARY <i>(Attach Payslip)</i></b></td>
            <td style="width: 10%; color: blue;"></td>

        </tr>

    </table>


    <table style="width: 100%;">
        <tr>
            <td style="width: 30%;"><b>OTHER REGULAR SOURCE OF INCOME<i>(specify the source of income)</i></b>
            </td>
            <td style="width: 20%; color: blue;"></td>
            <td style="width: 15%;"><b>FREQUENCY OF INCOME</b></td>
            <td style="width: 10%; color: blue;"></td>
            <td style="width: 10%;"><b>AMOUNT</b></td>
            <td style="width: 15%; color: blue;"></td>

        </tr>


    </table>


    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;"><b>CREDIT FACILITY AMOUNT REQUIRED<i>(in USD $)</i></b></td>
            <td style="width: 25%; color: blue;" th:text="${SSBApplication.getPrice()}"></td>
            <td style="width: 25%;"><b>FACILITY TYPE</b></td>
            <td style="width: 25%; color: blue;">SHORT TERM USD LOANS</td>
        </tr>

    </table>
    <table style="width: 100%;">
        <tr>
            <td style="width: 40%;"><b>REPAYMENT PERIOD REQUIRED</i></b></td>
            <td style="width: 60%; color: blue;" th:text="${SSBApplication.getLoanPeriod()+ ' '+'months'}"></td>

        </tr>

    </table>


    <table style="width: 100%;">
        <tr>
            <td style="width: 20%;"><b>Applicant Banking Details<br/> Account Name: <span style=" color: blue"
                                                                                          th:text="${SSBApplication.getAccountName()}"></span></b>
            </td>

            <td style="width: 10%;"><b>Bank Name</b></td>
            <td style="width: 20%; color: blue" th:text="${SSBApplication.getBankName()}"></td>
            <td style="width: 10%;"><b>Bank Account Number</b></td>
            <td style="width: 20%; color: blue" th:text="${SSBApplication.getAccountNo()}"></td>
            <td style="width: 10%" ;><b>Branch</b></td>
            <td style="width: 10%;color: blue" ; th:text="${SSBApplication.getBranchName()}"></td>

        </tr>
    </table>


    <table style="width: 100%;">
        <tbody>

        <tr>
            <th>NEXT OF KIN DETAILS</th>
            <th> Full names and Relationship</th>
            <th>Employer and Address</th>
            <th>Residential Address</th>
            <th> Phone Numbers(land line preferred)</th>
        </tr>

        <tr>
            <td>1</td>
            <td style="color: blue;"
                th:text="${SSBApplication.getNxtOfKin1FirstName()}+${space}+${SSBApplication.getNxtOfKin1Surname()}+${space}+${SSBApplication.getNxtOfKin1Relation()}"></td>
            <td style="color: blue;" th:text="${SSBApplication.getNxtOfKin1Address()}"></td>
            <td style="color: blue;" th:text="${SSBApplication.getNxtOfKin1Address()}"></td>
            <td style="color: blue;" th:text="${SSBApplication.getNxtOfKin1Phone()}"></td>


        </tr>
        <tr>
            <td style="color: blue;">2</td>
            <td style="color: blue;"
                th:text="${SSBApplication.getNxtOfKin2FirstName()}+${space}+${SSBApplication.getNxtOfKin2Surname()}+${space}+${SSBApplication.getNxtOfKin2Relation()}"></td>
            <td style="color: blue;" th:text="${SSBApplication.getNxtOfKin2Address()}"></td>
            <td style="color: blue;" th:text="${SSBApplication.getNxtOfKin2Address()}"></td>
            <td style="color: blue;" th:text="${SSBApplication.getNxtOfKin2Phone()}"></td>


        </tr>

        </tbody>


    </table>


    <center><h3><u><b>
        Provide details of the existing or most recent Loan from FBC Bank, other lenders or employer
    </b></u></h3></center>
    <table style="width: 100%;">
        <tbody>
        <tr>
            <th>Lender</th>
            <th> Amount</th>
            <th>Monthly Repayment</th>
            <th>Balance</th>
            <th> Expiry/Last repayment date</th>
        </tr>

        <tr style="height: 20px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="height: 20px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        </tbody>


    </table>

    <table style="width: 100%;">
        <tr>
            <td style="width: 30%;"><b>DETAILS OF ACCOUNTS WITH OTHER BANKS</i></b></td>
            <td style="width: 10%;"><b>BANK</b></td>
            <td style="width: 15%;"></td>
            <td style="width: 10%;"><b>BRANCH</b></td>
            <td style="width: 15%;"></td>
            <td style="width: 10%;"><b>ACCOUNT NUMBER</b></td>
            <td style="width: 10%;"></td>


        </tr>

    </table>


    <div style="margin-left: 20px; font-family: 'Times New Roman'; font-size: 14px;">
        <center><h3><b><u></u> DECLARATION BY CUSTOMER</u> </b></h3></center>
        <center>
            I DECLARE THAT ALL THE ABOVE STATEMENTS IN SUPPORT OF THIS APPLICATION ARE TRUE AND CORRECT
            <br/></center>
        <br/>
        Yours faithfully
        <br/>
        <img style="width: 60px; height:60px;" th:src="@{${'/Creative_uploads/' + documentUpload.borrowerSignature }}">
        <br/>
        Customers Signature <span style="margin-left: 40%;"> Date  : <span
            th:text="${SSBApplication.getDateAndTime()}"></span> </b></span></span>
        <br/>

        <img style="width: 60px; height:60px;" th:src="@{${'/Creative_uploads/' + documentUpload.witnessSignature }}">
        <br/>
        Witness Signature <span style="margin-left: 40%;"> Date  : <span
            th:text="${SSBApplication.getDateAndTime()}"></span> </b></span></span>


        <br/> <br/>
        <p style="page-break-after: always;"> N.B. Microplan Financial Services P/L reserves the right to repudiate any
            application without giving reasons.
            &nbsp;</p>
        <ol type="1">


            <h4>TERMS AND CONDITIONS:</h4>
            <li> Upon approval, Microplan Financial Services (the lender) shall create a loan in the borrower’s name and
                credit the loan proceeds to the applicant’s (the borrower’s) nominated FCA account.
            </li>
            <li> An interest rate of <b><span th:text="${interestRate +'%'}"></span></b> per month will be
                levied on the outstanding loan balance/ loan amount.

            </li>
<!--            <ul>-->
                2.1 The capital portion of the loan plus interest shall be paid in <b><span
                        th:text="${SSBApplication.getLoanPeriod()}"></span></b> equal installments of usd $<b> <span
                        th:text="${SSBApplication.getLoanRepaymentPerMonth()}"></span></b> commencing <b> <span
                        th:text="${SSBApplication.getLoanFromDate()}"></span></b>
                </br>
                2.2 Monthly loan repayments will be effected by way of automatic debits to the operating
                    account into
                    which loan proceeds are initially credited and the borrower shall ensure that the account is
                    adequately funded to meet loan repayments. In the event that the account is not funded the account
                    will overdraw and the overdraft will immediately attract interest at Microplan Financial Service’s
                    prevailing penalty rate of interest. The penalty rate is currently 25% per month.
                </br>
                2.3 At all material times, this loan shall be paid back in United States Dollars through the
                    Lender’s
                    Nostro Account.
                </br>
<!--            </ul>-->

            <li>In accordance with normal banking practice the amount advanced shall become immediately due and
                repayable on demand being made by Microplan Financial Services and Microplan Financial Services shall
                not be obliged to give any notice in making demand.
            </li>
            <li>Unless previously withdrawn by Microplan Financial Services, this facility will expire on <b><span
                    th:text="${SSBApplication.getLoanToDate()}"></span></b> when all outstanding amounts shall become
                immediately due and payable to Microplan Financial Services.
            </li>
            <li>Microplan Financial Services shall have the right to appropriate the Borrower’s payments to such of the
                Borrower’s debts as it considers fit and in the absence of any such appropriation by Microplan Financial
                Services to the contrary, Borrower’s payments shall be appropriated first to interest due and any
                balance remaining shall be appropriated to capital.
            </li>
            <li>The Lender reserves the right to give notice in writing to the Borrower at any time and thereafter to
                charge such other rate of interest as it might require and if thereafter the Borrower continues to use
                the facilities and does not repay them in full immediately, the Borrower will be deemed to have agreed
                to such rate. Such notice may be given on the customer's Lender statement and/or be advertised in the
                local press and/or be displayed in any of the Lender's branches and the customer hereby accepts that
                these methods of giving notice are valid and reasonable.
            </li>
            <li>UNDERTAKINGS</li>
            Until the facilities are terminated or whilst any amount or commitment remains outstanding, the
            Borrower undertakes to Microplan Financial Services to :-
            <ul>
<!--                <ol type="7.1">-->
                    7.1 Provide Microplan Financial Services with such information concerning any change in employment
                        status, residential address and any other affairs of the Borrower as Microplan Financial
                        Services
                        may reasonably require;
                    </br>
                    7.2 Comply at all times with all laws as may be amended from time to time and agrees that the
                        facilities
                        shall be governed and construed in accordance with Zimbabwean Law, in the jurisdiction of which
                        the
                        Borrower resides or carries on business and in the event of any legal proceedings in connection
                        with
                        this matter, the Borrower agrees to be liable for all legal costs on the legal practitioner and
                        client scale and other charges, including collection commission in terms of the Law Society
                        By-laws,
                        which may be incurred by Microplan Financial Services in connection therewith; and.
                </br>
                    7.3 Provide any documents requested by Microplan Financial Services according to the type of account
                        (s)
                        requested.
                </br>
                    7.4 Be liable for any overdraft or debt which Microplan Financial Services may permit on this
                        account
                        for unprovided loan installments or other service fees and understand that a penalty charge or
                        the
                        penalty rate of interest as determined by the lender from time to time shall apply on any
                        unauthorized overdrafts or overdue amounts.
                </br>
                    7.5 Ensure that their salary is paid directly or sales proceeds are deposited into the account held
                        with
                        FBC Bank.
                </br>
                    7.6 Consents to MicroPlan Financial Services P/L undertaking credit registry searches as part of
                        their
                        credit assessment process.
                </br>
                    7.7 Ensure the above statements in support of this application are true and correct and in the event
                        of
                        any information proving to be inaccurate/ false, the loan application will be declined or, in
                        the
                        event Microplan Financial Services had approved and disbursed the loan, any amounts outstanding
                        shall immediately become due and payable on demand by Microplan Financial Services.
                </br>
                    7.8 To utilise the loan proceeds for this loan as per loan purpose applied and approved by the
                        lender.
                        Any variation on the loan purpose should be approved by the Lender prior to utilisation of the
                        funds. In the event that the loan proceeds are utilised on unauthorised purpose, any amounts
                        outstanding shall immediately become due and payable on demand by Microplan Financial Services
                        P/L
                </br>
                    7.9 Chooses as a domicillium citandi et executandi on the following address: <b><span
                            th:text="${SSBApplication.getResidentialAddress()}"></span></b>

<!--                </ol>-->

            </ul>
            <li>The Borrower agrees that the Lender may, without notice and at its sole discretion, consolidate any
                outstanding principal in the loan account and interest on the loan with any unpaid installments and
                charges with any other accounts which the borrower may maintain with the Lender or FBC Bank and set-off
                or transfer any money standing to the credit of the borrower’s other accounts in full settlement or
                towards the satisfaction of the borrower’s indebtedness to Microplan Financial Services in respect of
                the loan.
            </li>
            <li>For avoidance of doubt this loan is denominated in United States Dollars (USD) and not any other
                currency and accordingly any payment under or payment of any part of this facility shall be made in
                United States Dollars (USD) only, notwithstanding the currency which is legal tender in Zimbabwe
            </li>
            <li>In the event that the stop order/ deduction is not effected or delayed for whatever reason, the borrower
                agrees that the Lender may, without notice and at its sole discretion, restructure the loan in line with
                the amount of deduction being effected by the employer.
            </li>
            <li>SECURITY:
                <br/>
                The Lender retains to itself the right to request the borrower to provide any other form of security
                deemed acceptable to Microplan Financial Services.
            </li>
            <li>DEFAULT
                <br/>
                If the Borrower fails to make payment by due date of any amount due in terms of the facilities, or make
                default in the performance of any undertaking, term or condition of these facilities, or if the Borrower
                acts in any way which, in the reasonable opinion of the lender , may have a material adverse effect on
                the Borrower’s ability to perform its obligations under these facilities, then in any such event, the
                full amount of the facilities outstanding, and all charges accrued thereon, together with default
                interest as defined in Clause 10.1 below shall immediately become due and payable.

                <ul>
                    12.1 Default interest shall mean 25% per month and shall be paid by the Borrower from the date of
                        failure up to the date of actual repayment of the facility. However, Microplan Financial
                        Services reserves the right to give notice at any time and thereafter to charge such other
                        default interest rate as it may require, and if thereafter the Borrower continues to use the
                        facility, by not repaying it in full immediately, the Borrower shall be deemed to have agreed to
                        such other rate.
                    </br>
                    12.2 All interest payable in terms of the loan facility will be calculated on the balance outstanding
                        each day, at close of business, and the interest outstanding at the end of each month shall be
                        added to the capital and interest thereafter charged on that increased capital. Capital and
                        Interest shall be collected from your FBC Bank FCA account or by stop order as and when due.

                </ul>
        </ol>
        <br/>
        I agree to be bound by the Terms and Conditions set out above.
        <br/>
        Signed at <b><span th:text="${SSBApplication.getPlaceOfSignature()}"></span> </b> this <span
            th:text="${SSBApplication.getDateCreated().getDayOfMonth()+'th'}"></span> day of <span
            th:text="${SSBApplication.getDateCreated().getMonth()}"></span> <span
            th:text="${SSBApplication.getDateCreated().getYear()}"></span>
        <br/>
        <img style="width: 70px; height:70px;" th:src="@{${'/Creative_uploads/' + documentUpload.borrowerSignature }}">
        <!--       //<img th:src="@{/Creative_uploads/{id}(id=${documentUpload.borrowerSignature})}">-->
        <!--       --> <br/>
        Applicant’s/Borrower’s signature
        <br/>

        <b> As witnesses</b>
        <br/>
        <div style="width: 100%">
            <div style="width: 50%; float: left;">
                <img style="width: 70px; height:70px;"
                     th:src="@{${'/Creative_uploads/' + documentUpload.witnessSignature }}">
                <br/>
                <p th:text="${SSBApplication.getWitnessFullName()}"></p>
            </div>
            <div style="width: 50%; float: left;">
                <img style="width: 70px; height:70px;"
                     th:src="@{${'/Creative_uploads/' + documentUpload.witnessSignature2 }}">
                <br/>
                <p th:text="${SSBApplication.getWitnessFullName2()}"></p>
            </div>
        </div>

    </div>


    <h3 style="clear: both">MICROPLAN FINANCIAL SERVICES USE ONLY</h3>


    <table style="width: 100%;">
        <tr>
            <td style="width: 15%;">Signature verified</td>
            <td style="width: 15%;"></td>
            <td style="width: 15%;">Loan purpose</td>
            <td style="width: 15%;"></td>
            <td style="width: 20%;">Pay slip or proof of income</td>
            <td style="width: 20%;"></td>
        </tr>

    </table>
    <table style="width: 100%;">
        <tr>
            <td style="width: 15%;">Next of kin details confirmed</td>
            <td style="width: 15%;"></td>
            <td style="width: 15%;">Sector</td>
            <td style="width: 15%;"></td>
            <td style="width: 20%;">Bank statement</td>
            <td style="width: 20%;"></td>
        </tr>

    </table>


    <table style="width: 100%;">
        <tr>
            <td style="width: 15%;">Employment status confirmed</td>
            <td style="width: 15%;"></td>
            <td style="width: 15%;">Region</td>
            <td style="width: 15%;"></td>
            <td style="width: 20%;">Copy National ID</td>
            <td style="width: 20%;"></td>
        </tr>

    </table>


    <table style="width: 100%;">
        <tr>
            <td style="width: 15%;">Recommendation Loans Officer/ Manager</td>
            <td style="width: 15%;"></td>
            <td style="width: 15%;">Loans Officer</td>
            <td style="width: 15%;"></td>
            <td style="width: 20%;">40% of net salary</td>
            <td style="width: 20%;"></td>
        </tr>

    </table>


    <table style="width: 100%;">
        <tr>
            <td style="width: 15%;">Managing Director</td>
            <td style="width: 15%;"></td>
            <td style="width: 15%;">Gender</td>
            <td style="width: 15%;"></td>
            <td style="width: 20%;">Approval and conditions</td>
            <td style="width: 20%;"></td>
        </tr>

    </table>

    <p style="page-break-after: always;"></p>

    <div style="margin-left: 20px; font-family: 'Times New Roman'; font-size: 15px;">

        <ol type="1">
            <center><h4>ACKNOWLEDGEMENT OF DEBIT</h4></center>

            I/We, the undersigned <b><span
                th:text="${SSBApplication.getFirstName()} +${space}+ ${SSBApplication.getLastName()}"></span></b> (“the
            Debtor”) of <b><span th:text="${SSBApplication.getResidentialAddress()}"></span></b>
            which address I/we choose as my/our dominicilium citandi et executandi for purposes hereof, do hereby admit
            that I am /we are liable,
            and hold myself/ourselves bound to Microplan Financial Services(Private) Limited hereinafter referred to as
            (“the Creditor” or “the institution” or “Microplan”) for the due and proper payment of the amount of
            USD$<b><span th:text="${SSBApplication.getPrice()} +' ('+ ${loanPriceInWords}"></span> </b>)(“the Principal Debit”)
            and furthermore I declare that the Debtor is bound by the terms and conditions set out herein, namely:

            <li> The Principal Debt is the sum USD Nostrol <b>$<span th:text="${SSBApplication.getPrice()}+' ('+ ${loanPriceInWords}"></span></b>
            </li>
            <li>The Principal Debit shall bear interest at the rate of <b><span
                    th:text="${interestRate +'%'}"></span></b> per month, the amount of which shall be
                calculated daily in advance on the outstanding balance due and capitalized monthly until the total
                amount due in terms hereof shall have been paid.
                <br/>
                2.1 A default interest rate of <b><span th:text="${SSBApplication.getDefaultInterest() +'%'}"></span> </b>per
                month shall be applied on any arrears and/or outstanding balance from the date of failure until the full
                outstanding debit is paid.
            </li>
            <li> The Principal Debit, together with interest calculated as set out in clause 2 above, shall be paid in
                United States Dollars as follows
                <br/>
                3.1. equal bullet installment of $<span th:text="${SSBApplication.getLoanRepaymentPerMonth()}"></span>
                each in respect of the capital only, the first of which shall be made on the <b><span
                        th:text="${SSBApplication.getLoanFromDate()}"></span></b>, and thereafter on the last day of
                every succeeding month until the Principal debit together with interest shall have been fully paid.
                <br/>
                3.2. The monthly interest calculated in accordance with Clause 2 hereof shall be paid on the or before
                the last day of every calendar month beginning on <b><span
                        th:text="${SSBApplication.getLoanFromDate()}"></span></b> until the Principal debit together
                with interest shall have been paid in full.

            <li> The Creditor shall be entitled to allocate any payment to interest, legal cost and then to capital or
                in any other as he deems fit despite any allocation made or deemed to be made by the Debtor.
            </li>
            <li> Should any payment due in terms hereof not made on due date the Creditor may regard the balance of the
                Principal Debt and interest owing in terms hereof as due and payable immediately, and may issue summons
                therefore in any competent court without further notice or demand to the debtor.
            </li>
            <li>The Debtor hereby expressly renounces the benefits of the non causa debiti, the errore calculi, the
                revision of accounts, no value received and, if there is more than one debtor, the de doubus vel
                pluribus reis debendi or ordinis seu excussionis et deviosions.
            </li>
            <li>The debtor consents to the jurisdiction of the Magistrate’s Court, Harare/Bulawayo in terms of the
                Magistrate’s Court Act for the recovery of any amount due in terms hereof.
            </li>
            <li> The Principal Debt shall become due and payable immediately if the Debtor commits an act of insolvency.
            </li>
            <li>The Debtor shall pay the costs hereof as well as the stamp duty (unless such stamp duty forms part of
                the Principal Debt) on demand. Cost shall include the costs of drawing and registering any security
                required by the Creditor as well as the stamp duty payable on any document required as security for the
                due and proper payment of the Principal Debt and interest payable to the Creditor.
            </li>
            <li>Should the Creditor incur costs in the collection of the Principal Debt, the Debtor shall pay such costs
                on the attorney –and –client scale as well as collection commission calculated in accordance with the
                Law Society of Zimbabwe By-Laws of each and every payment made in reduction of the Principal Debt,
                interest and costs.
            </li>
            <li> The Creditor shall be entitled to cede or pledge his herein or to trade therewith at his discretion
                without the consent of the Debtor. He may also in rem suam discharge or release any security partly or
                in full without the consent of the Debtor or consent to any alteration, release, relaxation or
                postponement of the terms hereof and such action shall not be binding on the Creditor in any way
                whatsoever unless he has indicated in writing that such action shall be binding.
            </li>
            <li>Any certificate issued under the signature of the Creditor or his duly authorised agent that purposes to
                certify the amount due hereunder shall be accepted as prima facie proof of such indebtedness and shall
                be sufficient probative value to enable the Creditor to obtain summary judgment or provision sentence
                against the Debtor in any competent court for the amount stated in such certificate, and the Debtor
                accepts the onus of disproving the amount so stated as not being the amount owing.
            </li>
            <li> In the event that the creditor is granted judgment against the Debtor arising from this Acknowledgment,
                the Debtor irrevocably consents to the execution of the judgment in the currency thereof without
                conversion into any other currency provided that the Creditor may agree to such conversion in its
                absolute discretion.
            </li>
            <li>The Debtor shall not be entitled for any reason whatsoever to withhold or defer payment stipulated for
                in this acknowledgement of debt.
            </li>
            <li>If there is more than one debtor, each and every debtor accepts that his liability shall be in solidum
                and that the Creditor shall at all times be at liberty to proceed with collection and excussion
                proceedings against a debtor of his choice.
            </li>
            <li>No waiver by Microplan of any breach, failure or default in performance by the Debtor and no failure,
                refusal or neglect by the Institution to exercise any right hereunder or to insist upon strict
                compliance with of performance of the Debtor’s obligations under this Acknowledgement, shall constitute
                a waiver of the provision of this agreement and the Institution may at any time require strict
                compliance with provisions of this agreement.
            </li>
            <li>This Acknowledgment together with any annexure or written amendments constitutes the entire agreement
                between the parties who acknowledges that there are no other oral or written undertakings or agreements
                between them relating to the subject matter of this Acknowledgment.
            </li>
            <li> No amendment, consensual cancellation or other modification of this agreement shall be valid or binding
                on
                a party hereto unless reduced to writing and executed by both parties hereto. Any additions,
                modifications or amendments to the Agreement shall not be binding unless made in writing and signed by
                the parties.

            </li>
            <li> This Acknowledgement supersedes all previous agreements, written or oral, which have existed or now
                exist between Microplan and the Debtor.

            </li>

        </ol>
        THUS DONE AND SIGNED at <b><span th:text="${SSBApplication.getPlaceOfSignature()}"></span></b> On this day of
        <b> <span style="font: bold" th:text="${SSBApplication.getDateAndTime()}"></span></b> in the presence of the
        undersigned witnesses.
        <br/>
        <b> As witnesses</b>

        <div style="width: 100%">
            <div style="width: 50%; float: left;">
                <img style="width: 100px; height:100px;"
                     th:src="@{${'/Creative_uploads/' + documentUpload.witnessSignature }}">
                <br/>
                <p th:text="${SSBApplication.getWitnessFullName()}"></p>
            </div>
            <div style="width: 50%; float: left;">
                <img style="width: 100px; height:100px;"
                     th:src="@{${'/Creative_uploads/' + documentUpload.witnessSignature2 }}">
                <br/>
                <p th:text="${SSBApplication.getWitnessFullName2()}"></p>
            </div>

            <div style="width: 50%; clear: both; float: left;">

                <h4>Debtor</h4>
                <img style="width: 100px; height:100px;"
                     th:src="@{${'/Creative_uploads/' + documentUpload.witnessSignature }}">
                <br/>
                <p th:text="${SSBApplication.getFirstName()}+${space}+${SSBApplication.getLastName()}"></p>
            </div>
        </div>

    </div>

    <p style="page-break-after: always; clear: both">&nbsp;</p>

    <center><img style=" height: auto;" src="/images/icon/micro.png"></center>
    <br/>
    <h3>ALLOWANCE AND DEDUCTION FORM - SSB</h3>

    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;">NAME</td>
            <td style="width: 25%;" th:text="${SSBApplication.getFirstName()}"></td>
            <td style="width: 25%;">SURNAME</td>
            <td style="width: 25%;" th:text="${SSBApplication.getLastName()}"></td>

        </tr>
    </table>
    <br/><br/>
    <div style="width: 100%">
        <table style="width: 20%; float: left">
            <tr>
                <td style="width: 10%; height: 50px;"><span style="font-size: 50px;">&#10004;</span></td>
            </tr>
            <tr>
                <td style="width: 10%;">NEW</td>

            </tr>

        </table>
        <table style="width: 20%; float: left; margin-left: 10%">
            <tr>
                <td style="width: 10%;  height: 50px;"></td>
            </tr>
            <tr>
                <td style="width: 10%;">CHANGE</td>

            </tr>

        </table>
        <table style="width: 20%; float: left; margin-left: 10%">
            <tr>
                <td style="width: 10%;  height: 50px;"></td>
            </tr>
            <tr>
                <td style="width: 10%;">CEASE</td>

            </tr>

        </table>

    </div>


    <div style="clear: both; !important;"></div>
    <br/> <br/>
    <h4 style="clear: both;"><b>TICK WHICH EVER IS APPLICABLE</b></h4>
    <br/>
    <table style="width: 60%;">
        <tr>
            <th style="width: 50%;">Employee Code Number</th>
            <th style="width:10%;">Check digit/letter</th>
        </tr>
        <tr>
            <td style="height: 50px;" th:text="${employeeCodeNumbers}"></td>
            <td style="height: 50px;" th:text="${employeeCodeCheckDidgit}"></td>

        </tr>


    </table>

    <br/>
    <br/>


    <div style="width:100%">
        <div style="float: left; width:40%;">
            <h4><b><u>PAYEE CODE</u></b></h4>
            <table style="width:40%;">
                <tr>
                    <td>84008</td>

                </tr>
            </table>

        </div>
        <div style="float: left; width: 40%;">
            <h4><b><u>MONTHLY RATE (USD)</u></b></h4>
            <table style="width:40%;">
                <tr>
                    <td STYLE="HEIGHT: 30px;" th:text="${SSBApplication.getLoanRepaymentPerMonth()}"></td>

                </tr>
            </table>

        </div>
    </div>
    <div style="clear: both; width: 100%">
        <br/>
        <BR/>
        <div style="width: 40%; float: left">
            <h4><b><u>FROM DATE</u></b></h4>
            <table style="width:40%;">
                <tr>
                    <td STYLE="HEIGHT: 30px;" th:text="${SSBApplication.getLoanFromDate()}"></td>

                </tr>
            </table>


        </div>
        <div style="width: 40%; float: left;">
            <h4><b><u>TO DATE </u></b></h4>
            <table style="width:40%;">
                <tr>
                    <td STYLE="HEIGHT: 30px;" th:text="${SSBApplication.getLoanToDate()}"></td>

                </tr>
            </table>

        </div>
    </div>


    <div style="width: 100%; clear: both;">

        <br/>
        <BR/>

        <div style="width: 40%; float: left;">
            <h4><b><u>Ref no : Loan account number</u></b></h4>
            <table style="width:40%;">
                <tr>
                    <td STYLE="HEIGHT: 30px;"></td>

                </tr>
            </table>

        </div>
        <div style="width: 40%; float: left;">
            <h4><b><u>ID Number</u></b></h4>
            <table style="width:40%;">
                <tr>
                    <td STYLE="HEIGHT: 30px;" th:text="${SSBApplication.getNationalId()}"></td>

                </tr>
            </table>
        </div>
    </div>
</div>
</div>
<div style="clear: both"></div>
<br/>
<br/>
<center><h3 style="clear: both"><b><u></u> DECLARATION BY APPLICANT</u> </b></h3></center>
<center><br/>
    I DECLARE THAT ALL THE ABOVE STATEMENTS IN SUPPORT OF THIS APPLICATION ARE TRUE AND CORRECT
    <br/></center>
<br/> <br/>

<img style="width: 70px; height:70px;" th:src="@{${'/Creative_uploads/' + documentUpload.borrowerSignature }}">
<br/>
APPLICANT SIGNATURE <span style="margin-left: 40%;"> Date  : <span
        th:text="${SSBApplication.getDateAndTime()}"></span> </b></span></span>
<br/>
<br/>
<br/>
AUTHORISED/APPROVED
BY:....................................SIGNATURE...........................................Date:..............................</b></span></span>


<center style="clear: both">

    <p style="page-break-after: always;">&nbsp;</p>

    <h2>NATIONAL ID</h2>
    <br/>
    <br/>
    <img style="width: 800px; height:800px;" th:src="@{${'/resources/' + documentUpload.nationalIdUpload }}">


    <p style="page-break-after: always;">&nbsp;</p>
    <h2>CURRENT PAYSLIP</h2>
    <br/>
    <br/>
    <img style="width: 800px; height:800px;" th:src="@{${'/resources/' + documentUpload.payslipUpload }}">

    <p style="page-break-after: always;">&nbsp;</p>
    <h2>PROOF OF EMPLOYMENT</h2>
    <br/>
    <br/>
    <img style="width: 1200px; height:1200px;"
         th:src="@{${'/resources/' + documentUpload.proofOfEmployemntUpload }}">

    <p style="page-break-after: always;">&nbsp;</p>
    <h2>CLIENT PHOTO</h2>
    <br/>
    <br/>
    <img style="width: 800px; height:800px;" th:src="@{${'/Creative_uploads/' + documentUpload.clientPictureUpload }}">

    <p style="page-break-after: always;">&nbsp;</p>
    <h2>MARRIAGE CERTIFICATE</h2>
    <br/>
    <br/>
    <img style="width: 400px; height:400px;" alt="Marriage Certificate"
         th:src="@{${'/Creative_uploads/' + documentUpload.marriageCertificateUpload }}">

</center>
</body>
</html>