<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header">
</head>
<body>
<!--<div th:replace="fragments/preloader ::preloader">-->
<!--</div>-->
<div class="page-container">
    <div th:replace="fragments/sidebar :: sidebar-menu"></div>
    <div class="main-content">

        <div th:replace="fragments/header_area ::header-area">
        </div>
        <div th:replace="fragments/title_area ::title-area">
        </div>
        <div class="main-content-inner">

            <!-- Server side start -->
            <div class="col-12">
                <div class="card mt-5">
                    <div class="card-body">
                        <h2>Loan Application Form</h2>
                        <form class="needs-validation" novalidate="">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="employeeNumber">Employee Number</label>
                                    <input type="text" class="form-control" id="employeeNumber"
                                           placeholder="Employee Number" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="applicationDate">Application Date</label>
                                    <input type="text" class="form-control" id="applicationDate"
                                           placeholder="Application Date" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="loanPurpose">Loan Purpose</label>
                                    <input type="text" class="form-control" id="loanPurpose" placeholder="Loan Purpose"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6>Loan proceeds to be credited to nominated FCA account</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="toNominatedFcaBank">Bank</label>
                                    <input type="text" class="form-control" id="toNominatedFcaBank" placeholder="Bank"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="toNominatedFcaAccountName">Account Name</label>
                                    <input type="text" class="form-control" id="toNominatedFcaAccountName"
                                           placeholder="Account Name" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="toNominatedFcaBranch">Branch</label>
                                    <input type="text" class="form-control" id="toNominatedFcaBranch"
                                           placeholder="Branch" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="toNominatedFcaAccountNumber">Account Number</label>
                                    <input type="text" class="form-control" id="toNominatedFcaAccountNumber"
                                           placeholder="Account Number" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6>Loan proceeds to be credited to nominated FBC Bank</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="toNominatedFBCBankBranch">Branch</label>
                                    <input type="text" class="form-control" id="toNominatedFBCBankBranch"
                                           placeholder="Branch" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6>Personal Details</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="First Name"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="middleName">Middle Name</label>
                                    <input type="text" class="form-control" id="middleName" placeholder="Middle Name"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="surname">Surname</label>
                                    <input type="text" class="form-control" id="surname" placeholder="Surname"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="applicantTitle">Title</label>
                                    <div id="applicantTitle">
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" checked class="custom-control-input" id="titleMr">
                                            <label class="custom-control-label" for="titleMr">Mr</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="titleMrs">
                                            <label class="custom-control-label" for="titleMrs">Mrs</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="titleMiss">
                                            <label class="custom-control-label" for="titleMiss">Miss</label>
                                        </div>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="maidenName">Full Maiden Names(For Married Women)</label>
                                    <input type="text" class="form-control" id="maidenName" placeholder="Maiden Name"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="spouseName">Full Name of Spouse(For Married applicants)</label>
                                    <input type="text" class="form-control" id="spouseName" placeholder="Spouse Name"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="dateOfBirth">Date of Birth</label>
                                    <input type="text" class="form-control" id="dateOfBirth" placeholder="Date of Birth"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="nationalId">National Id No</label>
                                    <input type="text" class="form-control" id="nationalId" placeholder="National Id"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="passportNo">Passport No</label>
                                    <input type="text" class="form-control" id="passportNo"
                                           placeholder="Passport Number" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="residentialAddress">Residential Address</label>
                                    <input type="text" class="form-control" id="residentialAddress"
                                           placeholder="Address" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="applicantResidentialStatus">Residential Status</label>
                                    <div id="applicantResidentialStatus">
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" checked class="custom-control-input" id="rented">
                                            <label class="custom-control-label" for="rented">Rented</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="owned">
                                            <label class="custom-control-label" for="owned">Owned</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="mortgaged">
                                            <label class="custom-control-label" for="mortgaged">Mortgaged</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="providedByEmployer">
                                            <label class="custom-control-label" for="providedByEmployer">Provided by
                                                Employer</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="stayingWithParents">
                                            <label class="custom-control-label" for="stayingWithParents">Provided by
                                                Employer</label>
                                        </div>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6>Employer Details</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="nameOfEmployer">Name Of Employer</label>
                                    <input type="text" class="form-control" id="nameOfEmployer"
                                           placeholder="Name Of Employer" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="physicalAddressOfEmployer">Physical Address of Employer</label>
                                    <input type="text" class="form-control" id="physicalAddressOfEmployer"
                                           placeholder="Physical Address of Employer" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h8>Telephone Numbers</h8>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="businessNumber">Business Number</label>
                                    <input type="text" class="form-control" id="businessNumber"
                                           placeholder="Business Number" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="cellNumber">Cell</label>
                                    <input type="text" class="form-control" id="cellNumber" placeholder="Cell Number"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="homeNumber">Home Number</label>
                                    <input type="text" class="form-control" id="homeNumber" placeholder="Home Number"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="faxNumber">Fax Number</label>
                                    <input type="text" class="form-control" id="faxNumber" placeholder="Fax Number"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="employedDate">Since when Employed:</label>
                                    <input type="text" class="form-control" id="employedDate"
                                           placeholder="Employment Date" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="emailAddress">Email Address:</label>
                                    <input type="email" class="form-control" id="emailAddress" placeholder="Email"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="profession">Profession eg (Mining, health etc)</label>
                                    <input type="text" class="form-control" id="profession" placeholder="Profession"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="positionHeld">Position Held eg (Doctor, engineer etc)</label>
                                    <input type="text" class="form-control" id="positionHeld"
                                           placeholder="Position Held" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="monthlySalary">Gross Monthly Salary/ income</label>
                                    <input type="text" class="form-control" id="monthlySalary"
                                           placeholder="Gross Monthly Salary" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="netSalary">Net Salary/ income</label>
                                    <input type="text" class="form-control" id="netSalary" placeholder="Net Salary"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nameOfSpouseEmployer">Name of Spouses employer </label>
                                    <input type="text" class="form-control" id="nameOfSpouseEmployer"
                                           placeholder="Name of Spouses employer" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="addressOfSpouseEmployer">Address of Spouses employer </label>
                                    <input type="text" class="form-control" id="addressOfSpouseEmployer"
                                           placeholder="Address of Spouses employer" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="spousesNetSalary">Spouses net salary(as is on payslip) </label>
                                    <input type="text" class="form-control" id="spousesNetSalary"
                                           placeholder="Spouses net salary" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="otherSourcesOfIncome">Other regular sources of income(Specify the
                                        source)</label>
                                    <input type="text" class="form-control" id="otherSourcesOfIncome"
                                           placeholder="Other Sources Of Income" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="otherSourcesOfIncomeFrequency">Frequency of income</label>
                                    <input type="text" class="form-control" id="otherSourcesOfIncomeFrequency"
                                           placeholder="Other Sources Of Income Frequency" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="amountOfOtherSourcesIncome">Amount of Other income</label>
                                    <input type="text" class="form-control" id="amountOfOtherSourcesIncome"
                                           placeholder="Amount" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6>Loan Details</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="creditFacilityAmountRequired">Credit Facility Amount
                                        Required(USD$)</label>
                                    <input type="text" class="form-control" id="creditFacilityAmountRequired"
                                           placeholder="Amount Required" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="repaymentPeriodRequired">Repayment period required</label>
                                    <input type="text" class="form-control" id="repaymentPeriodRequired"
                                           placeholder="Repayment period required" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="shortTermUsdLoan">Short term USD Loan</label>
                                    <input type="text" class="form-control" id="shortTermUsdLoan"
                                           placeholder="Short term USD Loan" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6>Next of Kin Details </h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin1Name">First Next Of Kin Name</label>
                                    <input type="text" class="form-control" id="nextOfKin1Name" placeholder="Name"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin1Surname">First Next Of Kin Surname</label>
                                    <input type="text" class="form-control" id="nextOfKin1Surname"
                                           placeholder="Surname" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin1Relationship">First Next Of Kin Relationship</label>
                                    <input type="text" class="form-control" id="nextOfKin1Relationship"
                                           placeholder="Relationship" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin1Employer">First Next Of Kin Employer</label>
                                    <input type="text" class="form-control" id="nextOfKin1Employer"
                                           placeholder="Employer" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin1EmployerAddress">First Next Of Kin Employer Address</label>
                                    <input type="text" class="form-control" id="nextOfKin1EmployerAddress"
                                           placeholder="Address" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin1ResidentialAddress">First Next Of Kin Residential
                                        Address</label>
                                    <input type="text" class="form-control" id="nextOfKin1ResidentialAddress"
                                           placeholder="Residential Address" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin1phoneNumber">First Next Of Kin Phone Number</label>
                                    <input type="text" class="form-control" id="nextOfKin1phoneNumber"
                                           placeholder="Phone Number" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin2Name">Second Next Of Kin Name</label>
                                    <input type="text" class="form-control" id="nextOfKin2Name" placeholder="Name"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin2Surname">Second Next Of Kin Surname</label>
                                    <input type="text" class="form-control" id="nextOfKin2Surname"
                                           placeholder="Surname" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin2Relationship">Second Next Of Kin Relationship</label>
                                    <input type="text" class="form-control" id="nextOfKin2Relationship"
                                           placeholder="Relationship" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin2Employer">Second Next Of Kin Employer</label>
                                    <input type="text" class="form-control" id="nextOfKin2Employer"
                                           placeholder="Employer" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin2EmployerAddress">Second Next Of Kin Employer Address</label>
                                    <input type="text" class="form-control" id="nextOfKin2EmployerAddress"
                                           placeholder="Address" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin2ResidentialAddress">Second Next Of Kin Residential
                                        Address</label>
                                    <input type="text" class="form-control" id="nextOfKin2ResidentialAddress"
                                           placeholder="Residential Address" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nextOfKin2phoneNumber">Second Next Of Kin Phone Number</label>
                                    <input type="text" class="form-control" id="nextOfKin2phoneNumber"
                                           placeholder="Phone Number" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6>Decleration By Customer</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="customersSignature">Customers Signature</label>
                                    <input type="text" class="form-control" id="customersSignature"
                                           placeholder="Signature" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="customerSignatureDate">Date</label>
                                    <input type="text" class="form-control" id="customerSignatureDate"
                                           placeholder="Date" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="witnessSignature">Witness Signature</label>
                                    <input type="text" class="form-control" id="witnessSignature"
                                           placeholder="Signature" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="witnessSignatureDate">Date</label>
                                    <input type="text" class="form-control" id="witnessSignatureDate"
                                           placeholder="Date" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6>I agree to be bound by the Terms and Conditions set out above</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="signedAtLocation">Signed at location</label>
                                    <input type="text" class="form-control" id="signedAtLocation"
                                           placeholder="Location" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="dateOfSigning">Date</label>
                                    <input type="text" class="form-control" id="dateOfSigning" placeholder="Date"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="applicantSignature">Customer Signature</label>
                                    <input type="text" class="form-control" id="applicantSignature"
                                           placeholder="Signature" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6>As witnesses </h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="witness1Name">First Witness Name</label>
                                    <input type="text" class="form-control" id="witness1Name" placeholder="Name"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="witness1Signature">First Witness Signature</label>
                                    <input type="text" class="form-control" id="witness1Signature"
                                           placeholder="Signature" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="witness2Name">Second Witness Name</label>
                                    <input type="text" class="form-control" id="witness2Name" placeholder="Name"
                                           required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="witness2Signature">Second Witness Signature</label>
                                    <input type="text" class="form-control" id="witness2Signature"
                                           placeholder="Signature" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6>Acknoledgement Of Debit</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="UndersignedDebtor">Undersigned (the debtor)</label>
                                    <input type="text" class="form-control" id="UndersignedDebtor"
                                           placeholder="Debtor Name" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="acknowledgementAddress">Acknowledgement Address</label>
                                    <input type="text" class="form-control" id="acknowledgementAddress"
                                           placeholder="Address" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="amountToBeDebited">Amount To be Debited</label>
                                    <input type="text" class="form-control" id="amountToBeDebited"
                                           placeholder="Address" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="acknoledgementSignedAtLocation">Acknoledgement Signed At
                                        Location</label>
                                    <input type="text" class="form-control" id="acknoledgementSignedAtLocation"
                                           placeholder="Location" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="firstAcknowledgementWitnessSignature">First Witness Signature</label>
                                    <input type="text" class="form-control" id="firstAcknowledgementWitnessSignature"
                                           placeholder="Signature" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="secondAcknowledgementWitnessSignature">Second Witness Signature</label>
                                    <input type="text" class="form-control" id="SecondAcknowledgementWitnessSignature"
                                           placeholder="Signature" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="clientAcknowledgementWitnessSignature">client Signature</label>
                                    <input type="text" class="form-control" id="clientAcknowledgementWitnessSignature"
                                           placeholder="Signature" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6>Allowance/Deductions</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="applicantName">Customer/Applicant name</label>
                                    <input type="text" class="form-control" id="applicantName"
                                           placeholder="Name" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="applicantSurname">Customer/Applicant Surname</label>
                                <input type="text" class="form-control" id="applicantSurname"
                                       placeholder="Surname" required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                                <div class="col-md-3 mb-3">
                                    <label for="applicantStatus">Application Status</label>
                                    <input type="text" class="form-control" id="applicantStatus"
                                           placeholder="Status" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="employeeNumberOnDeductions">Employee Number</label>
                                    <input type="text" class="form-control" id="employeeNumberOnDeductions"
                                           placeholder="Employee Number" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="checkDigital">Check digital/letter</label>
                                    <input type="text" class="form-control" id="checkDigital"
                                           placeholder="Check Digital" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="payeeCode">Payee Code</label>
                                    <input type="text" class="form-control" id="payeeCode"
                                           placeholder="Payee Code" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="monthlyRate">Monthly rate(In USD)</label>
                                    <input type="text" class="form-control" id="monthlyRate"
                                           placeholder="Monthly Rate" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="fromDate">From Date</label>
                                    <input type="text" class="form-control" id="fromDate"
                                           placeholder="Date" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="toDate">To Date</label>
                                    <input type="text" class="form-control" id="toDate"
                                           placeholder="Date" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="refNumber">Ref no(loan account number</label>
                                    <input type="text" class="form-control" id="refNumber"
                                           placeholder="Reference Number" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nationalIdNo">National id number</label>
                                    <input type="text" class="form-control" id="nationalIdNo"
                                           placeholder="National Id" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6>Decleration By Applicant</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="declarationApplicantSignature">Applicant Signature</label>
                                    <input type="text" class="form-control" id="declarationApplicantSignature"
                                           placeholder="Signature" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="declarationDate">Date</label>
                                    <input type="text" class="form-control" id="declarationDate"
                                           placeholder="Date" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="authorizedByName">Authorized/approved by</label>
                                    <input type="text" class="form-control" id="authorizedByName"
                                           placeholder="Name" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="authorizedBySignature">Approver signature</label>
                                    <input type="text" class="form-control" id="authorizedBySignature"
                                           placeholder="Signature" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="authorizedDate">Date</label>
                                    <input type="text" class="form-control" id="authorizedDate"
                                           placeholder="Date" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary" type="submit">Submit form</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Server side end -->

        </div>

    </div>
    <!-- main content area end -->
    <div th:replace="fragments/footer ::footer">
    </div>
</div>
</body>
</html>