<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header">
</head>
<body>
<!--<div th:replace="fragments/preloader ::preloader">-->
<!--</div>-->
<div class="page-container">
    <div th:replace="fragments/sidebar :: sidebar-menu"></div>
    <div class="main-content">

        <div th:replace="fragments/header_area ::header-area">
        </div>
        <div th:replace="fragments/title_area ::title-area">
        </div>
        <div class="main-content-inner">

            <!-- Server side start -->
            <div class="col-12">
                <div class="card mt-5">
                    <div class="card-body">
                        <h2 >Loan Application Form</h2>
                        <form class="needs-validation" novalidate="">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="employeeNumber">Employee Number</label>
                                    <input type="text" class="form-control" id="employeeNumber" placeholder="Employee Number" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="applicationDate">Application Date</label>
                                    <input type="text" class="form-control" id="applicationDate" placeholder="Application Date" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="loanPurpose">Loan Purpose</label>
                                    <input type="text" class="form-control" id="loanPurpose" placeholder="Loan Purpose" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6 >Loan proceeds to be credited to nominated FCA account</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="toNominatedFcaBank">Bank</label>
                                    <input type="text" class="form-control" id="toNominatedFcaBank" placeholder="Bank" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="toNominatedFcaAccountName">Account Name</label>
                                    <input type="text" class="form-control" id="toNominatedFcaAccountName" placeholder="Account Name" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="toNominatedFcaBranch">Branch</label>
                                    <input type="text" class="form-control" id="toNominatedFcaBranch" placeholder="Branch" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="toNominatedFcaAccountNumber">Account Number</label>
                                    <input type="text" class="form-control" id="toNominatedFcaAccountNumber" placeholder="Account Number" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6 >Loan proceeds to be credited to nominated FBC Bank</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="toNominatedFBCBankBranch">Branch</label>
                                    <input type="text" class="form-control" id="toNominatedFBCBankBranch" placeholder="Branch" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6 >Personal Details</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="First Name" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="middleName">Middle Name</label>
                                    <input type="text" class="form-control" id="middleName" placeholder="Middle Name" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="surname">Surname</label>
                                    <input type="text" class="form-control" id="surname" placeholder="Surname" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3" >
                                    <label for="applicantTitle">Title</label>
                                    <div id="applicantTitle">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" checked class="custom-control-input" id="titleMr">
                                        <label class="custom-control-label" for="titleMr">Mr</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="titleMrs">
                                        <label class="custom-control-label" for="titleMrs">Mrs</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="titleMiss">
                                        <label class="custom-control-label" for="titleMiss">Miss</label>
                                    </div>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                <label for="maidenName">Full Maiden Names(For Married Women)</label>
                                <input type="text" class="form-control" id="maidenName" placeholder="Maiden Name" required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                                <div class="col-md-4 mb-3">
                                    <label for="spouseName">Full Name of Spouse(For Married applicants)</label>
                                    <input type="text" class="form-control" id="spouseName" placeholder="Spouse Name" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="dateOfBirth">Date of Birth</label>
                                    <input type="text" class="form-control" id="dateOfBirth" placeholder="Date of Birth" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                <label for="nationalIdNo">National Id No</label>
                                <input type="text" class="form-control" id="nationalIdNo" placeholder="National Id" required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                                <div class="col-md-4 mb-3">
                                    <label for="passportNo">Passport No</label>
                                    <input type="text" class="form-control" id="passportNo" placeholder="Passport Number" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="residentialAddress">Residential Address</label>
                                    <input type="text" class="form-control" id="residentialAddress" placeholder="Address" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3" >
                                    <label for="applicantTitle">Residential Status</label>
                                    <div id="applicantResidentialStatus">
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" checked class="custom-control-input" id="rented">
                                            <label class="custom-control-label" for="rented">Rented</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="owned">
                                            <label class="custom-control-label" for="owned">Owned</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="mortgaged">
                                            <label class="custom-control-label" for="mortgaged">Mortgaged</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="providedByEmployer">
                                            <label class="custom-control-label" for="providedByEmployer">Provided by Employer</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="stayingWithParents">
                                            <label class="custom-control-label" for="stayingWithParents">Provided by Employer</label>
                                        </div>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                            </div>
                            </div>
                            <div class="form-row">
                                <h6 >Employer Details</h6>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="nameOfEmployer">Name Of Employer</label>
                                    <input type="text" class="form-control" id="nameOfEmployer" placeholder="Name Of Employer" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="physicalAddressOfEmployer">Physical Address of Employer</label>
                                    <input type="text" class="form-control" id="physicalAddressOfEmployer" placeholder="Physical Address of Employer" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                                <div class="form-row">
                                    <h8 >Telephone Numbers</h8>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3 mb-3">
                                        <label for="businessNumber">Business Number</label>
                                        <input type="text" class="form-control" id="businessNumber" placeholder="Business Number" required="">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="cellNumber">Cell</label>
                                        <input type="text" class="form-control" id="cellNumber" placeholder="Cell Number" required="">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="homeNumber">Home Number</label>
                                        <input type="text" class="form-control" id="homeNumber" placeholder="Home Number" required="">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="faxNumber">Fax Number</label>
                                        <input type="text" class="form-control" id="faxNumber" placeholder="Fax Number" required="">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="employedDate">Since when Employed:</label>
                                    <input type="text" class="form-control" id="employedDate" placeholder="Employment Date" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="emailAddress">Email Address:</label>
                                    <input type="email" class="form-control" id="emailAddress" placeholder="Email" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="profession">Profession eg (Mining, health etc)</label>
                                    <input type="email" class="form-control" id="profession" placeholder="Profession" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="positionHeld">Position Held eg (Doctor, engineer etc)</label>
                                    <input type="email" class="form-control" id="positionHeld" placeholder="Position Held" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="monthlySalary">Gross Monthly Salary/ income</label>
                                    <input type="email" class="form-control" id="monthlySalary" placeholder="Gross Monthly Salary" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="netSalary">Net Salary/ income</label>
                                    <input type="email" class="form-control" id="netSalary" placeholder="Net Salary" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="nameOfSpouseEmployer">Name of Spouses employer </label>
                                    <input type="email" class="form-control" id="nameOfSpouseEmployer" placeholder="Name of Spouses employer" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="addressOfSpouseEmployer">Address of Spouses employer </label>
                                    <input type="email" class="form-control" id="addressOfSpouseEmployer" placeholder="Address of Spouses employer" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="spousesNetSalary">Spouses net salary(as is on payslip) </label>
                                    <input type="email" class="form-control" id="spousesNetSalary" placeholder="Spouses net salary" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="otherSourcesOfIncome">Other regular sources of income(Specify the source)</label>
                                    <input type="email" class="form-control" id="otherSourcesOfIncome" placeholder="Other Sources Of Income" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="otherSourcesOfIncomeFrequency">Frequency of income</label>
                                    <input type="email" class="form-control" id="otherSourcesOfIncomeFrequency" placeholder="Other Sources Of Income Frequency" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="amountOfOtherSourcesIncome">Amount of Other income</label>
                                    <input type="email" class="form-control" id="amountOfOtherSourcesIncome" placeholder="Amount" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h6 >Loan Details</h6>
                            </div>


                            
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom03">City</label>
                                    <input type="text" class="form-control" id="validationCustom03" placeholder="City" required="">
                                    <div class="invalid-feedback">
                                        Please provide a valid city.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom04">State</label>
                                    <input type="text" class="form-control" id="validationCustom04" placeholder="State" required="">
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom05">Zip</label>
                                    <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required="">
                                    <div class="invalid-feedback">
                                        Please provide a valid zip.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required="">
                                    <label class="form-check-label" for="invalidCheck">
                                        Agree to terms and conditions
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit form</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Server side end -->

        </div>

    </div>
    <!-- main content area end -->
    <div th:replace="fragments/footer ::footer">
    </div>
</div>
</body>
</html>