<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header">
</head>
<body>
<!--<div th:replace="fragments/preloader ::preloader">-->
<!--</div>-->
<div class="page-container">
    <div th:replace="fragments/sidebar :: sidebar-menu"></div>
    <div class="main-content">

        <div th:replace="fragments/header_area ::header-area">
        </div>
        <div th:replace="fragments/title_area ::title-area">
        </div>
        <div class="main-content-inner">

            <div class="row justify-content-center">
                <!--                <div class="col-lg-6 col-ml-12">-->
                <!--                    <div class="row">-->
                <!-- Textual inputs start -->
                <div class="col-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Edit New Role</h4>
                            <form  method="post" th:object="${role}"  th:action="@{/roles/update(id=${role.id})}" class="form-horizontal form-label-left" novalidate>


                                </p>
                                <center> <h4 style="color: red" th:text="${message}"></h4></center>
                                <span class="section"><h3><center> Update Role Details</center></h3></span>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="name" name="name"  th:field="*{name}" th:value="${role.name}" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Status <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select  class="form-control col-md-7 col-xs-12" name="status" id="status" th:value="${role.status}" th:field="*{status}">
                                            <option value="Active">Active</option>
                                            <option value="Inctave">Inactive</option>

                                        </select>
                                    </div>
                                </div>



                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">

                                        <button id="send" type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
                <!--                    </div>-->
                <!--                </div>-->
            </div>

        </div>

    </div>
    <!-- main content area end -->
    <div th:replace="fragments/footer ::footer">
    </div>
    <div th:replace="fragments/scripts ::scripts">
    </div>
</div>
</body>
</html>