<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header">
</head>
<body>
<!--<div th:replace="fragments/preloader ::preloader">-->
<!--</div>-->
<div class="page-container">
    <div th:replace="fragments/sidebar :: sidebar-menu"></div>
    <div class="main-content">

        <div th:replace="fragments/header_area ::header-area">
        </div>
        <div th:replace="fragments/title_area ::title-area">
        </div>
        <div class="main-content-inner">
            <div class="row">

                <!-- Primary table start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Data Table Primary</h4>
                            <div class="data-tables datatable-primary">


                                    <table id="dataTable2" class="table table-striped table-bordered bulk_action">
                                        <thead>
                                        <tr>


                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Action</th>



                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="role:${RoleList}">
                                            <td th:text="${role.name}"></td>
                                            <td th:text="${role.status}"></td>

                                            <td>

                                                <a th:href="@{/roles/edit(id=${role.name})}"class="btn btn-dark">Edit</a></td>


                                        </tr>

                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Primary table end -->

            </div>
        </div>

    </div>
    <!-- main content area end -->
    <div th:replace="fragments/footer ::footer">
    </div>
    <div th:replace="fragments/scripts ::scripts">
    </div>
</div>
</body>
</html>